@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  @apply bg-surface text-white;
  -webkit-tap-highlight-color: transparent;
  -webkit-font-smoothing: antialiased;
}

/* iPhone safe area support */
.safe-bottom {
  padding-bottom: max(env(safe-area-inset-bottom), 0.5rem);
}

.safe-top {
  padding-top: max(env(safe-area-inset-top), 3rem);
}
